<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>

    <link rel="stylesheet" href="../assets/styles/style.css">
    <script src="https://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>
</head>
<body>
    <section>
        <form action="./controller/controlador.php" method="post">
            <img src="../assets/img/logo.png" alt="Logo">
            
            <h3>Recuperar Contraseña</h3>

            <p>Enviaremos un correo de recuperacion de contraseña:</p>

            <div class="inputbox">
                <i class="fa-solid fa-email"></i>
                <input type="password" class="input" name="contraseña" autocomplete="off" required>
                <label>Correo Electronico</label>
            </div>
            
            <button type="submit" class="button">Enviar</button>
        </form>
    </section>
</body>
</html>